.operators-panel {
  position: absolute;
  top: 210px;
  left: 65%;
  width: 25%;
  max-height: 260px;
  overflow: auto;
}
.operators-panel div {
  width:100%;
  display: flex;
  flex-flow: row wrap;
}
.operators-panel div > button {
  width: 50%;
  height: 63px;
  font-size: 36px;
}

.operators-panel button.invert {
  font-size: 24px;
  font-weight: 700;
}